body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.LOGO {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    transition: left 0.3s;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    border: 1px solid transparent;
    border-radius:3px;
}

.nav-menu li a:hover {
    color: #ff6347;
    border:1px solid white;
    transition: .5s;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

.content {
    padding-top: 70px; /* Adjust top padding to account for fixed nav height */
    background: url('https://cdn.statically.io/img/codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg?f=webp&w=720') no-repeat center center fixed;
    background-size: cover;
    color: white;
    min-height: 100vh;
}

.section {
    display: none;
    padding: 100px 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
    margin: 20px;
    border-radius: 10px;
}

.section.active {
    display: block;
}

@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        background-color: #333;
    }

    .nav-menu.show {
        left: 0;
    }

    .nav-menu li {
        margin: 0;
        text-align: center;
    }

    .menu-icon {
        display: flex;
    }
}